main {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
    font-family: 'Helvetica', sans-serif;
}

#calculator {
    background-color: #fcfcfc;
    border: 5px solid #fcfcfc;
    border-radius: 12px;
    display: grid;
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 7px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px;
}

#display {
    grid-column: 1 / -1;
    background-color: #e5e5e5;
    border: inset 5px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 3em;
    margin: 5px;
}

td {
    height: 70px;
}

button {
    width: 70px;
    margin: 7px 10px;
    padding: 15px;
    border-radius: 5%;
    font-weight: initial;
    font-size: 2em;
    background-color: #e9ecef;
    color: black;
    border: outset 1px #e9ecef;
    box-shadow: 1px 1px 3px 0px;
}

button:active {
    border: inset 1px #e9ecef;
}

.equals {
    width: 164px;
}

.operator {
    margin-left: -84px;
}

.operand {
    background-color: white;
}

#zero {
    grid-column: span 2;
}