main {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
}

#calculator {
    background-color: #fcfcfc;
    border: 5px solid #f7ecec;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 7px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px;
}

#display {
    grid-column: 1 / -1;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

td {
    height: 70px;
}

button {
    width: 70px;
    margin: 7px 15px;
    padding: 15px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: 'Helvetica', sans-serif;
    background-color: #e9ecef;
    color: black;
    box-shadow: 1px 1px 3px 0px;
}

.equals {
width: 173px;
}

.operator {
    margin-left: -87px
}

/* .clear {
    background-color: dodgerblue;
}

.sign {
    background-color: dodgerblue;
}

.percent {
    background-color: dodgerblue;
}

.operator {
    background-color: #FF8F1F;
}

.operand {
    background-color: #217C7E;
} */

#zero {
    grid-column: span 2;
}

/* .decimal {
    background-color: #217C7E;
}
.equals {
    background-color: #FF8F1F;
} */